<h1>Counter</h1>


<p aria-live="polite"><strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="decrementCounter()">DECREASE</button>
<button class="btn btn-primary" (click)="resetCounter()">RESET</button>
<button class="btn btn-primary" (click)="incrementCounter()">INCREASE</button>